@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,800&display=swap');

@import 'tailwindcss';
@import './theme.css';

html {
  font-family: var(--main-family);
  min-height: 100%;
  font-size: 1.25rem;
}

.logo {
  font-family: var(--logo-font-family);
}

article a {
  word-wrap: break-word;
}

.cutoff-tl-br {
  clip-path: polygon(
    24px 0,
    100% 0,
    100% calc(100% - 24px),
    calc(100% - 24px) 100%,
    0 100%,
    0 24px
  );
}

.cutoff-bl-tr {
  clip-path: polygon(
    0 0,
    calc(100% - 24px) 0,
    100% 24px,
    100% 100%,
    24px 100%,
    0 calc(100% - 24px)
  );
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.photo-ribbon {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.photo-ribbon-content {
  display: inline-block;
  animation: scroll 30s linear infinite;
}

.photo-ribbon-content:hover {
  animation-play-state: paused;
}

.photo-ribbon img {
  height: 200px;
  width: auto;
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
}
