---
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <Fragment slot="head">
    <title>404 Not Found - Jeroen van Wissen</title>
    <meta content="noindex, nofollow" name="robots" />
    <meta content="website" property="og:type" />
    <meta content="404 Not Found - Jeroen van Wissen" property="og:title" />
    <meta content="404 Not Found - Jeroen van Wissen" name="description" />
    <meta
      content="404 Not Found - Jeroen van Wissen"
      property="og:description"
    />
    <meta content={`${import.meta.env.SITE}/404`} property="og:url" />
    <meta
      content={`${import.meta.env.SITE}/images/og-image.webp`}
      property="og:image"
    />
    <meta
      content={`${import.meta.env.SITE}/images/og-image.webp`}
      property="twitter:image:src"
    />
    <link href={`${import.meta.env.SITE}/404`} rel="canonical" />
  </Fragment>
  <div class="w-full">
    <div class="mx-auto max-w-6xl px-8 py-4">
      <div class="cutoff-tl-br">
        <img
          src="/images/404.webp"
          alt="404 Image"
          class="h-96 w-full object-cover object-bottom"
        />
      </div>
      <div class="p-4">
        <h1 class="text-2xl text-primary-400">404 Not Found</h1>
        <p class="text-primary-400/60">
          The page you're trying to load does not exist... go to the <a href="/"
            >homepage</a
          >
        </p>
      </div>
    </div>
  </div>
</Layout>
