---
import { getSortedPostsByType } from '@lib/util';
import Layout from '@layouts/Layout.astro';
import PostBlock from '@components/PostBlock.astro';

const posts = await getSortedPostsByType('post', 'blog');

const colors = ['primary', 'secondary', 'tertiary', 'quaternary'];
const directions = ['left', 'right'];
---

<Layout>
  <Fragment slot="head">
    <title>Blog posts by Jeroen van Wissen</title>
    <meta content="website" property="og:type" />
    <meta content="Blog posts by Jeroen van wissen" property="og:title" />
    <meta
      content="Overview of all blog posts by Jeroen van Wissen"
      name="description"
    />
    <meta
      content="Overview of all blog posts by Jeroen van Wissen"
      property="og:description"
    />
    <meta content={`${import.meta.env.SITE}/posts`} property="og:url" />
    <meta
      content={`${import.meta.env.SITE}/images/og-image.webp`}
      property="og:image"
    />
    <meta
      content={`${import.meta.env.SITE}/images/og-image.webp`}
      property="twitter:image:src"
    />
    <link href={`${import.meta.env.SITE}/posts`} rel="canonical" />
  </Fragment>
  <div class="w-full">
    <div class="mx-auto max-w-6xl px-8 py-4">
      <div class="wrapper">
        <div class="original">
          <svg
            width="128"
            height="160"
            viewBox="0 0 16 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.52228 0.208984C0.454777 0.208984 -0.262864 1.30317 0.162478 2.28228L7.38106 18.899C7.6163 19.4405 8.15044 19.7908 8.74086 19.7908H11.044C12.112 19.7908 12.8297 18.6957 12.4034 17.7164L5.16943 1.09978C4.93393 0.558818 4.40008 0.208984 3.81009 0.208984H1.52228Z"
              fill="url(#paint0_linear_97_170)"
              fill-opacity="0.5"
              style=""></path>
            <path
              d="M14.1475 0.208984C15.0672 0.208984 15.765 1.03774 15.6084 1.94404L12.7366 18.5607C12.6137 19.2716 11.997 19.7908 11.2757 19.7908H8.74844C7.82816 19.7908 7.13021 18.9611 7.28775 18.0544L10.1749 1.43776C10.2983 0.727519 10.9147 0.208984 11.6356 0.208984H14.1475Z"
              fill="#FF2BB9"
              style="fill:#FF2BB9;fill-opacity:1;"></path>
            <defs>
              <linearGradient
                id="paint0_linear_97_170"
                x1="12.5854"
                y1="0.208984"
                x2="3.64701"
                y2="20.5175"
                gradientUnits="userSpaceOnUse"
              >
                <stop
                  offset="0.185"
                  stop-color="#FF2BB9"
                  stop-opacity="0"
                  style="stop-color:none;stop-opacity:0;"></stop>
                <stop
                  offset="1"
                  stop-color="#FF2BB9"
                  style="stop-color:#FF2BB9;stop-color:color(display-p3 1.0000 0.1686 0.7255);stop-opacity:1;"
                ></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
        <div class="remake">
          <a href="#">
            <svg
              class="svg-new inline"
              width="160"
              height="160"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="8"
                y="0"
                width="5"
                rx="1.2"
                ry="1.2"
                height="20"
                fill-opacity="0.5"
                style="width:var(--rect-gradient-width)"></rect>
              <rect
                x="7.5"
                y="0"
                rx="1.2"
                ry="1.2"
                width="5.5"
                height="20"
                style="width:var(--rect-width)"></rect>
              <defs>
                <linearGradient
                  id="gradient_22"
                  x1="12.5854"
                  y1="0.208984"
                  x2="3.64701"
                  y2="20.5175"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop
                    offset="0.185"
                    stop-color="var(--color-stop)"
                    stop-opacity="0"></stop>
                  <stop offset="1" stop-color="var(--color-stop)"></stop>
                </linearGradient>
              </defs>
            </svg>
            <span>home</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script></script>

<style>
  /* .wrapper {
    position: relative;
  }

  .original,
  .remake {
    position: absolute;
    top: 0;
    left: 0;
  } */

  :root {
    --rect-width: 3.5;
    --rect-gradient-width: 4;
  }
  #gradient_22 {
    --color-stop: #ff2bb9;
  }

  .svg-new {
    rect:nth-of-type(2) {
      fill: #fff;
      opacity: 0.8;
      transform-origin: bottom;
      transform: skewX(-10deg);
      transition: 0.4s ease;
      x: 9.5;
      width: var(--rect-width);
    }
    rect:nth-of-type(1) {
      opacity: 0;
      fill: url(#gradient_22);
      transform-origin: bottom;
      transform: skewX(-10deg);
      transition: 0.4s ease;
      x: 9;
      width: var(--rect-gradient-width);
    }
  }

  a:hover {
    .svg-new {
      rect:nth-of-type(2) {
        fill: #ff2bb9;
        opacity: 1;
        transform-origin: bottom;
        transform: skewX(-10deg);
        x: 7.5;
        --rect-width: 5.5;
      }
      rect:nth-of-type(1) {
        opacity: 1;
        fill: url(#gradient_22);
        transform-origin: bottom;
        transform: skewX(24deg);
        x: 8;
        --rect-gradient-width: 5;
      }
    }
  }
</style>
