@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

:root {
  --main-family: 'Roboto Mono', monospace;
}

html {
    font-family: var(--main-family);
    min-height: 100%;
}

h1 {
  font-weight: 100;
}
