---
export interface Props {
  label: string;
  color?: string;
}

let { label, color } = Astro.props;

if (color === undefined) {
  color = "primary";
}
---

<div class="leading-6">
  <h2
    class={`text-sm md:text-lg font-bold text-left text-${color}-400 md:py-4`}
  >
    <span class="leading-10 inline-block">.{label}</span>
  </h2>
</div>
