---
export interface Props {
  href: string;
  label: string;
  id: string;
}

const { href, label, id } = Astro.props;
const currentPath = Astro.url.pathname;

let color = '#FFFFFF';

if (currentPath === href) {
  color = '#FF2BB9';
}
---

<li class="leading-6 nav-item">
  <a
    href={href}
    class={currentPath === href
      ? 'active text-quaternary-400'
      : 'text-white opacity-60'}
  >
    <svg
      class="inline mr-1"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="8"
        y="0"
        width="5"
        rx="1.2"
        ry="1.2"
        height="20"
        fill=`url(#${id})`
        fill-opacity="0.5"
        style="width:calc(var(--rect-gradient-width) * 1px)"></rect>
      <rect
        x="7.5"
        y="0"
        rx="1.2"
        ry="1.2"
        width="5.5"
        height="20"
        style="width:calc(var(--rect-width) * 1px)"></rect>
      <defs>
        <linearGradient
          id={id}
          x1="12.5854"
          y1="0.208984"
          x2="3.64701"
          y2="20.5175"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.185" stop-color="var(--color-stop)" stop-opacity="0"
          ></stop>
          <stop offset="1" stop-color="var(--color-stop)"></stop>
        </linearGradient>
      </defs>
    </svg><span>{label}</span>
  </a>
</li>

<style>
  :root {
    --rect-width: 3.5;
    --rect-gradient-width: 4;
  }

  .nav-item {
    a svg {
      rect:nth-of-type(2) {
        fill: #fff;
        opacity: 0.8;
        transform-origin: bottom;
        transform: skewX(-10deg);
        transition: 0.4s ease;
        x: 9.5;
        width: var(--rect-width);
      }
      rect:nth-of-type(1) {
        opacity: 0;
        transform-origin: bottom;
        transform: skewX(-10deg);
        transition: 0.4s ease;
        x: 9;
        width: var(--rect-gradient-width);
      }
    }

    a.active,
    a:hover {
      opacity: 1;
      svg {
        rect:nth-of-type(2) {
          fill: #ff2bb9;
          opacity: 1;
          transform-origin: bottom;
          transform: skewX(-10deg);
          x: 7.5;
          --rect-width: 5.5;
        }
        rect:nth-of-type(1) {
          opacity: 1;
          transform-origin: bottom;
          transform: skewX(24deg);
          x: 8;
          --rect-gradient-width: 5;
        }
        linearGradient stop {
          stop-color: #ff2bb9;
        }
      }
      span {
        color: #ff2bb9;
        opacity: 1;
      }
    }
  }
</style>
